env      = "dev"
vpc_cidr = "172.25.0.0/16"
zones    = ["eu-central-1a","eu-central-1b","eu-central-1c"]


public_subnets = {
  "eu-central-1a" : [{
    cidr  = "172.25.0.0/24"
    label = "default"
  }],
  "eu-central-1b" : [{
    cidr  = "172.25.1.0/24"
    label = "default"
  }],
  "eu-central-1c" : [{
    cidr  = "172.25.2.0/24"
    label = "default"
  }]
}
private_subnets = {
  "eu-central-1a" : [{
    cidr  = "172.25.10.0/24"
    label = "default"
  }],
  "eu-central-1b" : [{
    cidr  = "172.25.11.0/24"
    label = "default"
  }],
  "eu-central-1c" : [{
    cidr  = "172.25.12.0/24"
    label = "default"
  }]
}
